<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" [routerLinkActive]="['active-nav']" [routerLink]="['categorias-credisubsidio']">Crédito de subsidio por Categorias</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active-nav']" [routerLink]="['rangos-credisubsidio']" >Crédito de subsidio por Rangos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active-nav']" [routerLink]="['anios-credisubsidio']" >Crédito de subsidio por años</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active-nav']" [routerLink]="['compras-credito-rotativo']" >Compras con Cŕedito Rotativo </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active-nav']" [routerLink]="['compras-credito-rotativo-mapa']" >Compras con Cŕedito Rotativo por Tiendas </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active-nav']" [routerLink]="['compras-credito-rotativo-horizontchart']" >Compras con Cŕedito Rotativo por Semanas </a>
    </li>
</ul>